{% extends 'base.html' %}

{% block title %}Class{% endblock %}

{% block content %}
<div class="flex flex-col w-full h-fit mt-[10rem] mb-10 flex items-center">
    {% for class in cur_class %}
    <div class="w-3/4 text-3xl font-semibold mb-3">Students in {{ class['class description'] }}</div>
    {% endfor %}    

    <table class="w-1/2 border border-gray-500 text-xl">
        <thead class="bg-blue-500 text-white">
            <th class="font-bold text-center">
                Student Name
            </th>
        </thead>
        {% for result in results %}
            <tr class="hover:bg-gray-200">
                <td class="border-t border-t-gray-500 text-center">{{ result['student'] }}</td>
            </tr>
        {% endfor %}    
    </table>
</div>
{% endblock %}
