{% extends 'base.html' %}

{% block title %}Students{% endblock %}

{% block content %}
<div class="w-full h-fit mt-[10rem] mb-10 flex justify-center">
    <table class="w-3/4 border border-gray-500 text-xl">
        <thead>
            <th class="font-bold text-center">
                Class
            </th>
            <th class="font-bold text-center">
                Room Location
            </th>
            <th class="font-bold text-center">
                Course
            </th>
            <th class="font-bold text-center">
                Course Code
            </th>
        </thead>
        {% for result in results %}
        <tr class="hover:bg-gray-200">
            <td class="border-t border-t-gray-500 text-center">
                <a href="/classes/{{ result['idclasses'] }}">{{ result['class description'] }}</a>
            </td>
            <td class="border-t border-t-gray-500 text-center">{{ result['location'] }}</td>
            <td class="border-t border-t-gray-500 text-center">{{ result['course'] }}</td>
            <td class="border-t border-t-gray-500 text-center">{{ result['code'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
