{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="w-full h-fit mt-[10rem] mb-10 flex justify-center">
    <table class="w-3/4 border border-gray-500 text-xl">
        <thead>
            <th class="font-bold">
                Class
            </th>
            <th class="font-bold">
                Period
            </th>
            <th class="font-bold">
                Course
            </th>
            <th class="font-bold">
                Teacher
            </th>
            <th class="font-bold">
                Room
            </th>
        </thead>
        {% for result in results %}
            <tr class="hover:bg-gray-200">
                <td class="border-t border-t-gray-500 text-center">{{ result['class'] }}</td>
                <td class="border-t border-t-gray-500 text-center">{{ result['period'] }}</td>
                <td class="border-t border-t-gray-500 text-center">{{ result['course'] }}</td>
                <td class="border-t border-t-gray-500 text-center">{{ result['teacher'] }}</td>
                <td class="border-t border-t-gray-500 text-center">{{ result['room'] }}</td>
            </tr>
        {% endfor %}    
    </table>
</div>
{% endblock %}
